.title-bar {
    display: inline-flex;
    justify-content: space-around;
    padding: 5px;
    height: 50px;
    width: 100%;

}

.title-bar-button {
    display: block;
    height: 20px;
    width: 50px;
    background: azure;
}